/* Estilos generales */
body {
    font-family: 'Comfortaa', cursive;
    background-color: #212529;
    color: #e9ecef;
}

.jumbotron {
    background-image: url('https://source.unsplash.com/1600x900/?chess');
    background-size: cover;
    background-position: center;
    height: 70vh; /* Ajusta el tamaño de la sección encabezado */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Agrega un gradiente semitransparente encima de la imagen */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?chess');
}

.jumbotron img {
    filter: blur(0px); /* Aplica un filtro de desenfoque solo a la imagen dentro de .jumbotron */
}

.image-container {
    padding: 10px; /* Añade un espacio alrededor de la imagen */
    border-radius: 8px; /* Añade esquinas redondeadas al contenedor */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semitransparente para que se mezcle con el fondo de ajedrez */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra alrededor del contenedor */
    max-width: 80%; /* Ajusta el ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
}

.image-container img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen dentro del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}


.navbar-brand {
    font-weight: bold;
}

.card-price {
    transition: transform 0.3s;
}

.card-price:hover {
    transform: scale(1.05);
}

/* Sección Cursos */
#cursos {
    background-color: #343a40;
    padding: 60px 0;
}

#cursos h2 {
    color: #e9ecef;
}

#cursos .nav-pills .nav-link {
    color: #e9ecef;
}

#cursos .nav-pills .nav-link.active {
    color: #fff;
    background-color: #6c757d;
}

#cursos .tab-content h3 {
    color: #e9ecef;
}

#cursos .tab-content i {
    color: #6c757d;
}

#cursos .tab-content p {
    color: #ced4da;
}

/* Estilos para las tarjetas de los cursos */
.card-course {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #495057;
}

.card-course:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los botones de los cursos */
#cursos .btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#cursos .btn-primary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

#cursos .btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

#cursos .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

#cursos .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#cursos .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Sección Enlaces */
#enlaces {
    padding: 60px 0;
    background-color: #343a40;
}

#enlaces h2 {
    color: #e9ecef;
}  

/* Estilos para la sección de contacto */
#contacto {
    background-color: #f8f9fa;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #343a40;
}

.section-description {
    font-size: 1.1rem;
    color: #6c757d;
}

/* Sección Precios */
#precios {
    padding: 60px 0;
    background-color: #343A40;
  }
  
  #precios h2 {
    color: #e9ecef;
  }
  
  #precios .card-price {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #precios .card-price i {
    color: #6c757d;
  }
  
  #precios .card-price h4 {
    color: #343a40;
  }
  
  #precios .card-price p {
    color: #6c757d;
  }
  
  #precios .card-price small {
    color: #000000;
  }
  
  #precios .card-price h5 {
    color: #f0ad4e;
  }
  
  #precios .card-price .btn-primary {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  
  #precios .card-price .btn-primary:hover {
    background-color: #d99b47;
    border-color: #d99b47;
  }
  
  @media (max-width: 768px) {
    #precios .col-md-6 {
      flex: 0 0 calc(50% - 20px); /* Asegura que cada columna ocupe la mitad del ancho del contenedor menos el margen */
      max-width: calc(50% - 20px); /* Asegura que cada columna ocupe la mitad del ancho del contenedor menos el margen */
    }
  }
  
  @media (max-width: 576px) {
    #precios .col-md-6 {
      flex: 0 0 100%; /* Asegura que cada columna ocupe el ancho completo del contenedor */
      max-width: 100%; /* Asegura que cada columna ocupe el ancho completo del contenedor */
    }
  }

/* Cambios para los botones */
.btn-primary {
    background: linear-gradient(to right, #f0ad4e, #d99b47); /* Cambiar el color del botón a un degradado de amarillo más oscuro */
    border-color: #f0ad4e;
    color: #343a40; /* Cambiar el color del texto del botón a gris oscuro */
}

.btn-primary:hover {
    background: linear-gradient(to right, #d99b47, #f0ad4e); /* Cambiar el color del botón al pasar el ratón a un degradado de amarillo más oscuro invertido */
    border-color: #d99b47;
}

/* Footer */
footer {
    background-color: #343a40;
}

footer p {
    color: #e9ecef;
}

/* Logos */
.logo-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 60px;
}

.logo-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    align-items: center; /* Añadir esta línea para alinear los logos verticalmente al centro */
}

.logo-carousel .col-md-2 {
    flex-shrink: 0;
    scroll-snap-align: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    display: flex; /* Cambiar a flex para alinear el contenido verticalmente al centro */
    align-items: center; /* Añadir esta línea para alinear el contenido verticalmente al centro */
    justify-content: center; /* Añadir esta línea para alinear el contenido horizontalmente al centro */
}

.logo-carousel .col-md-2:hover {
    opacity: 1;
}

.logo-img {
    filter: contrast(1.2);
    transition: filter 0.3s ease;
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100px;
}

.logo-img:hover {
    filter: contrast(1);
}

/* Cambiar el tamaño del texto en el encabezado */
.jumbotron h1 {
    font-size: 2.5rem;
}

.jumbotron p {
    font-size: 1.2rem;
}

.text-container {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
  }
  
/* Sección Testimonios */
#testimonios {
    padding: 60px 0;
    background-color: #343a40;
  }
  
  #testimonios h2 {
    color: #e9ecef;
  }
  
  #testimonios .testimonio {
    background-color: #495057;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Añade un ancho máximo para que los testimonios no se expandan demasiado */
    margin: 0 auto; /* Centra los testimonios horizontalmente */
  }
  
  #testimonios .testimonio i {
    color: #6c757d;
  }
  
  #testimonios .testimonio p {
    color: #ced4da;
    font-size: 16px; /* Reduce el tamaño de la fuente para que quepa más texto */
  }
  
  #testimonios .testimonio h5 {
    color: #e9ecef;
    font-size: 18px; /* Reduce el tamaño de la fuente para que quepa más texto */
  }
  
  #testimonios .testimonio img {
    border: 2px solid #6c757d;
    width: 80px; /* Reduce el tamaño de la imagen para que quepa más contenido */
    height: 80px; /* Reduce el tamaño de la imagen para que quepa más contenido */
  }
  
  /* Añade estilos para el slider */
  .slider {
    max-width: 900px; /* Añade un ancho máximo para que el slider no se expanda demasiado */
    margin: 0 auto; /* Centra el slider horizontalmente */
    overflow: hidden; /* Oculta los elementos que se desbordan del contenedor */
  }
  
  .slider-track {
    display: flex;
    animation: scroll 30s infinite; /* Anima el desplazamiento del slider */
  }
  
  .testimonio {
    flex: 0 0 33.333%; /* Asegura que cada testimonio ocupe un tercio del ancho del contenedor */
    max-width: 33.333%; /* Asegura que cada testimonio ocupe un tercio del ancho del contenedor */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  