/* Estilos generales */
body {
    font-family: 'Comfortaa', cursive;
    background-color: #212529;
    color: #e9ecef;
}

.jumbotron {
    background-image: url('https://source.unsplash.com/1600x900/?chess');
    background-size: cover;
    background-position: center;
    height: 70vh; /* Ajusta el tamaño de la sección encabezado */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Agrega un gradiente semitransparente encima de la imagen */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?chess');
}

.jumbotron img {
    filter: blur(0px); /* Aplica un filtro de desenfoque solo a la imagen dentro de .jumbotron */
}

.image-container {
    padding: 10px; /* Añade un espacio alrededor de la imagen */
    border-radius: 8px; /* Añade esquinas redondeadas al contenedor */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semitransparente para que se mezcle con el fondo de ajedrez */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra alrededor del contenedor */
    max-width: 80%; /* Ajusta el ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
}

.image-container img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen dentro del contenedor */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}

.navbar-brand {
    font-weight: bold;
}

@media (max-width: 767px) {
    .navbar-brand {
      font-size: 1rem;
    }
  
    .navbar-nav .nav-link {
      font-size: 0.9rem;
    }
  }
  

.card-price {
    transition: transform 0.3s;
}

.card-price:hover {
    transform: scale(1.05);
}

/* Sección Cursos */
#cursos {
    background-color: #343a40;
    padding: 60px 0;
}

#cursos h2 {
    color: #e9ecef;
}

#cursos .nav-pills .nav-link {
    color: #e9ecef;
}

#cursos .nav-pills .nav-link.active {
    color: #fff;
    background-color: #6c757d;
}

#cursos .tab-content h3 {
    color: #e9ecef;
}

#cursos .tab-content i {
    color: #6c757d;
}

#cursos .tab-content p {
    color: #ced4da;
}

/* Estilos para las tarjetas de los cursos */
.card-course {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #495057;
}

.card-course:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para los botones de los cursos */
#cursos .btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#cursos .btn-primary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

#cursos .btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

#cursos .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

#cursos .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

#cursos .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.temario-table {
  width: 100%;
}

.temario-table th,
.temario-table td {
  white-space: normal; /* Permite que el texto se ajuste a múltiples líneas */
}


/* Sección Enlaces */
#enlaces {
    padding: 60px 0;
    background-color: #343a40;
}

#enlaces h2 {
    color: #e9ecef;
}

/* Estilos para la sección de contacto */
#contacto {
    background-color: #f8f9fa;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #343a40;
    
}

.section-description {
    font-size: 1.1rem;
    color: #6c757d;
}

/* Sección Precios */
#precios {
    padding: 60px 0;
    background-color: #343A40;
  }

  #precios h2 {
    color: #e9ecef;
  }

  #precios .card-price {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #precios .card-price i {
    color: #6c757d;
  }

  #precios .card-price h4 {
    color: #343a40;
  }

  #precios .card-price p {
    color: #6c757d;
  }

  #precios .card-price small {
    color: #000000;
  }

  #precios .card-price h5 {
    color: #f0ad4e;
  }

  #precios .card-price .btn-primary {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }

  #precios .card-price .btn-primary:hover {
    background-color: #d99b47;
    border-color: #d99b47;
  }

  /* Añade media queries para mejorar el diseño responsivo */
  @media (max-width: 768px) {
    /* Ajusta el tamaño de las fuentes en pantallas pequeñas */
    .jumbotron h1 {
      font-size: 2rem;
    }

    .jumbotron p {
      font-size: 1rem;
    }

    /* Ajusta el ancho de los elementos en pantallas pequeñas */
    .image-container {
      max-width: 100%;
    }

    .logo-img {
      max-width: 80%;
      height: auto;
    }

    /* Ajusta el tamaño de los botones en pantallas pequeñas */
    .btn-primary {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }

    .btn-success {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }

    .btn-secondary {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }

    /* Ajusta el tamaño de las tarjetas en pantallas pequeñas */
    .card-course {
      max-width: 100%;
    }

    /* Ajusta el tamaño de los testimonios en pantallas pequeñas */
    .testimonio {
      max-width: 100%;
    }

    /* Ajusta el tamaño de los precios en pantallas pequeñas */
    .card-price {
      max-width: 100%;
    }
  }

/* Cambios para los botones */
.btn-primary {
    background: linear-gradient(to right, #f0ad4e, #d99b47); /* Cambiar el color del botón a un degradado de amarillo más oscuro */
    border-color: #f0ad4e;
    color: #343a40; /* Cambiar el color del texto del botón a gris oscuro */
}

.btn-primary:hover {
    background: linear-gradient(to right, #d99b47, #f0ad4e); /* Cambiar el color del botón al pasar el ratón a un degradado de amarillo más oscuro invertido */
    border-color: #d99b47;
}

/* Footer */
footer {
    background-color: #343a40;
}

footer p {
    color: #e9ecef;
}

/* Logos */
.logo-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 60px;
}

.logo-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    align-items: center; /* Añadir esta línea para alinear los logos verticalmente al centro */
}

.logo-carousel .col-md-2 {
    flex-shrink: 0;
    scroll-snap-align: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    display: flex; /* Cambiar a flex para alinear el contenido verticalmente al centro */
    align-items: center; /* Añadir esta línea para alinear el contenido verticalmente al centro */
    justify-content: center; /* Añadir esta línea para alinear el contenido horizontalmente al centro */
}

.logo-carousel .col-md-2:hover {
    opacity: 1;
}

.logo-img {
    filter: contrast(1.2);
    transition: filter 0.3s ease;
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100px;
}

.logo-img:hover {
    filter: contrast(1);
}

/* Cambiar el tamaño del texto en el encabezado */
.jumbotron h1 {
    font-size: 2rem;
}

.jumbotron p {
    font-size: 1rem;
}

.text-container {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

/* Sección Testimonios */
#testimonios {
    padding: 60px 0;
    background-color: #343a40;
  }
  
  #testimonios h2 {
    color: #e9ecef;
  }
  
  #testimonios .testimonio {
    background-color: #495057;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
  }
  
  #testimonios .testimonio i {
    color: #f0ad4e; /* Cambia el color del símbolo de comillas a amarillo */
  }
  
  #testimonios .testimonio p {
    color: #ced4da;
    font-size: 16px;
  }
  
  #testimonios .testimonio h5 {
    color: #f0ad4e !important;
    font-size: 18px;
  }
  
  #testimonios .testimonio img {
    border: 2px solid #6c757d;
    width: 80px;
    height: 80px;
  }
  
  /* Estilos para el carrusel personalizado */
  #testimonios .slider {
    position: relative;
    overflow: hidden;
  }
  
  #testimonios .testimonios-wrapper {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.6s ease-in-out;
  }
  
  #testimonios .testimonios-wrapper .testimonio {
    flex-shrink: 0;
    width: 100%;
  }
  
  #testimonios .btn-prev,
  #testimonios .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #e9ecef;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  #testimonios .btn-prev {
    left: 0;
  }
  
  #testimonios .btn-next {
    right: 0;
  }
  
  /* Muestra tres testimonios en pantallas más grandes */
  @media (min-width: 992px) {
    #testimonios .testimonios-wrapper .testimonio {
      width: calc(33.333% - 20px);
      margin: 0 10px;
    }
  }
  
/* Ajustes para mejorar la responsividad */
@media (max-width: 576px) {
  .jumbotron {
    height: auto;
  }

  .image-container {
    max-width: 100%;
    margin-top: 2rem;
  }

  .text-container {
    padding: 20px 0;
  }
}

#instructor {
  background-color: #f8f9fa;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-top: 5rem; /* Ajusta el valor según tus necesidades */
}

#instructor .container {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.instructor-container {
  background-color: #343a40;
  border-radius: 10px; /* Ajusta el valor según tus necesidades */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05); /* Ajusta los valores según tus necesidades */
  padding-left: 15px;
  padding-right: 15px;
}

#instructor .section-title {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.25rem; /* Ajusta el valor según tus necesidades */
}

#instructor .intro {
  color: #f8fafb;
  margin-bottom: 20px;
  font-size: 1rem; /* Ajusta el valor según tus necesidades */
}

#instructor .info-box {
  background-color: #f8f9fa;
  border-radius: 10px; /* Ajusta el valor según tus necesidades */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05); /* Ajusta los valores según tus necesidades */
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
}

#instructor .info-box i {
  color: #f0ad4e;
  font-size: 1.5rem; /* Ajusta el valor según tus necesidades */
  margin-bottom: 5px;
}

#instructor .info-box h4 {
  color: #343a40;
  margin-bottom: 5px;
  font-size: 1.1rem; /* Ajusta el valor según tus necesidades */
}

#instructor .info-box p {
  color: #6c757d;
  font-size: 0.9rem; /* Ajusta el valor según tus necesidades */
}

#instructor .testimonials {
  color: #6c757d;
  margin-bottom: 20px;
  font-size: 0.9rem; /* Ajusta el valor según tus necesidades */
}

#instructor .testimonials strong {
  color: #343a40;
}

#instructor .btn-primary {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color: #fff;
  font-size: 0.9rem; /* Ajusta el valor según tus necesidades */
  padding: 0.5rem 1rem;
}

#instructor .btn-primary:hover {
  background-color: #d99b47;
  border-color: #d99b47;
}

.instructor-img-container {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.instructor-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.instructor-name {
  text-align: center;
  margin-bottom: 2rem;
}

.col-md-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-box,
.testimonials {
  width: 100%;
}

.info-box:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .col-md-8 {
    text-align: left;
  }

  .info-box,
  .testimonials {
    width: 100%;
  }
}

#faq {
  background-color: #343a40;
  padding: 60px 0;
}

#faq h2 {
  color: #e9ecef;
}

#faq .card-header {
  background-color: #495057;
  border-color: #495057;
}

#faq .btn-link {
  color: #e9ecef;
}

#faq .card-body {
  color: #ced4da;
}

#gallery {
  background-color: #495057;
  padding: 60px 0;
}

#gallery h2 {
  color: #e9ecef;
}

#curso-menu .nav-link::after {
  content: attr(data-fecha);
  display: block;
  font-size: 16px;
  color: #000000; /* Color de texto para fondos oscuros */
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.75); /* Sombra suave para mejorar la legibilidad en fondos claros */
  -webkit-text-stroke: 1px #060606; /* Contorno blanco para el texto */
}

.certifications-box {
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px; /* Añade un margen inferior para separar mejor los contenedores */
}

.certifications-box h4 {
  color: #343a40;
  margin-bottom: 10px;
  font-size: 1rem; /* Ajusta el valor según tus necesidades */
}

.certifications-list {
  margin-left: 0; /* Elimina el margen a la izquierda */
  padding-left: 1.5rem; /* Agrega un relleno a la izquierda para mantener el espacio con el ícono */
}

.certifications-list li {
  color: #343a40; /* Cambia el color de fuente a un tono más oscuro */
  margin-bottom: 1rem; /* Aumenta el margen inferior para separar los renglones */
  display: flex; /* Aplica un contenedor flexible para alinear el ícono y el texto */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1); /* Agrega sombra a cada renglón */
  padding: 0.5rem 0; /* Agrega un poco de relleno vertical para mejorar la separación */
  flex-wrap: wrap; /* Permite que los elementos se acomoden en múltiples líneas si es necesario */
}

.certifications-list li i {
  margin-right: 1rem; /* Aumenta el margen derecho para separar el ícono del texto */
  width: 1.25rem;
  text-align: center;
  color: #343a40; /* Cambia el color de fuente a un tono más oscuro */
}

/* Nuevo estilo para el ícono de check circle */
.certifications-list li .check-circle {
  font-size: 1.25rem; /* Ajusta el tamaño del ícono según tus necesidades */
  margin-right: 0.5rem; /* Ajusta el margen derecho del ícono según tus necesidades */
  color: #343a40; /* Cambia el color de fuente a un tono más oscuro */
}

/* Nuevo estilo para el texto del certificado */
.certifications-list li .certificate-text {
  font-size: 0.875rem; /* Ajusta el tamaño del texto según tus necesidades */
  line-height: 1.5; /* Ajusta la altura de línea del texto según tus necesidades */
}


.text-muted {
  color: #ffffff !important;
}


.curso-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 10px;
}

.curso-info-container small {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #333;
}

.curso-info-container small i {
  margin-right: 5px;
  font-size: 1.2rem;
}